set default=0
set timeout=5

menuentry "Install Oracle Linux 9 Minimal" {
	linuxefi /EFI/BOOT/vmlinuz inst.repo=http://192.168.99.235/ol9/ \
		inst.ks=http://192.168.99.235/ks/ol9-minimal-ks \
		ip=dhcp
	initrdefi /EFI/BOOT/initrd.img
}
